body {
 background-color: white;
}

p {
 font-family:"Comic Sans MS", cursive, sans-serif;
}

.rightFloat {
 float: right;
}

.leftFloat {
 float: left;
}

.displayInline {
 display: inline;
}

.clearBoth {
 clear: both;
}
