body {
 background-color: white;
}

p {
 font-family:"Comic Sans MS", cursive, sans-serif;
}

div.container{
 width: 100%;
 margin: 0 px;
 clear: right; 
}

div.leftColumn {
 width: 100px;
 margin: 0px; 
 padding: 1em;
 float: left;
}

div.rightColumn{
 width: 200px;
 margin: 0px;
 padding: 1em;
 float:right;
}
